<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
</head>
<body>

    <header>
        <div class="container">
            <a href="/"><div class="logo">TH Systemas</div></a>
            <nav>
                <a href="/mostrarProdutos/">Produtos</a>
                <a href="/mostrarClientes/">Clientes</a>
                <a href="/mostrarCompras/">Compras</a>
                <a href="/ajuda/">Ajuda</a>
            </nav>
        </div>
    </header>

    <main>
        <div class="container">
            {%block content%}
            <section id="product-menu">
                <h2>Gerenciar Produtos</h2>
                <ul> 
                    <li><a href="/cadastrarProdutos/" class="submenu-link">Cadastrar Produto</a></li>
                    <li><a href="/mostrarProdutos/" class="submenu-link">Ver Produtos Cadastrados</a></li><br><br>
                </ul>
            </section>

            <section id="client-menu">
                <h2>Gerenciar Clientes</h2>
                <ul>
                    <li><a href="/cadastrarClientes/" class="submenu-link">Cadastrar Cliente</a></li>
                    <li><a href="/mostrarClientes/" class="submenu-link">Ver Clientes Cadastrados</a></li><br><br>
                </ul>
            </section>

            <section id="purchase-menu">
                <h2>Gerenciar Compras</h2>
                <ul>
                    <li><a href="/cadastrarCompras/" class="submenu-link">Cadastrar Nova Compra</a></li>
                    <li><a href="/mostrarCompras/" class="submenu-link">Ver Compras Realizadas</a></li><br>
                </ul>
            </section>
            {%endblock%}
        </div>
    </main>

    <footer>
        <div class="container">
            <p>&copy; 2024 T&J PROJECTS. Todos os direitos reservados.</p>
        </div>
    </footer>

</body>
</html>
